.game-server-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--foreground-image);
  background-size: 100% 100%;
  pointer-events: none;
  background-repeat: no-repeat;
  z-index: 20;
}
